<div class="form-group col-md-6">
    <label for="smtpPassword">Password</label>
    <input type="text" class="form-control" id="smtpPassword" placeholder="Password">
    <small class="text-muted">
      Leave blank to allow any password.
    </small>
  </div>

  <div class="form-group col-md-6">
    <label for="smtpPort">SMTP Ports</label>
    <input type="text" id="smtpPort" class="form-control">
    <small class="text-muted">
      Can be comma separated list.
    </small>
  </div>

  <div class="form-group col-md-6">
    <button class="btn btn-primary">Save</button>
  </div>