
$sidebarWidth: 320px;
$navHeight: 82px;

.container-fluid {
    padding:0;    
    height:100%;
}

.topbar {
    z-index:200;
    width:100%;
    position: absolute;
}

.lower {
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    padding-top:$navHeight;
}

.sidebar{
    width:$sidebarWidth;
    height:100%;
    float:left;
    background-color:#E6E6E6;
    overflow-y:auto;
}

.maincontent {
    width:100%;
    height:100%;
    padding-left:$sidebarWidth;
}
