<div class="container">
    <div class="row jumbotron">
        <div class="col-md-12 well">
            <h1 class="display-4">Welcome to PillarBox</h1>
            <p class="lead">
                Your own private post office.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 text-center">
            <img src="/assets/welcome.svg" class="" />
        </div>
        <div class="col-md-7">
            <p>A mock SMTP server, for testing emails sent from websites and apps during development.</p>
            <ul>
                <li>
                    Runs on your own computer or local network
                </li>
                <li>
                    Supports Windows, Mac and Linux
                </li>
                <li>
                    Emails appear instantly with no delay, they never even leave your computer
                </li>
                <li>
                    Automatically sorts emails coming from different projects or release stages into separate inboxes
                </li>
                <li>
                    Preview emails on simulated devices and screen sizes
                </li>
                <li>
                    Easily forward emails on to other testing services such as Litmus
                </li>
                <li>
                    Integrate with UI testing frameworks like Selenium, fetch content directly from the email, such as a verification link
                </li>
            </ul>
            <p>PillarBox is designed for individual developers, teams or software testers.</p>
            <p>It's a simple lightweight SMTP server running on your computer that catches all emails sent to it. With an easy to use web interface for viewing and testing emails.</p>
            <p>When testing your website or application, put in the address of your computer running PillarBox instead of your usual SMTP server. For example "localhost".</p>
            <p>Use the SMTP username field to name your project or release stage, and have all the emails automatically organised into folders.</p>
            <p>Use slashes in the username to create sub folders like "My Project/Development/Phase1"</p>
        </div>
    </div>
</div>